.nav {
  position: sticky;
  top: 0;
  right: 0;
  /* margin-block-start: 2rem; */
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  background-color: var(--neutral-800);
  z-index: 3;
}

.nav__list {
  margin: 0;
  padding: 0;
  padding-inline-end: 1rem;
  list-style-type: none;
  display: flex;
  gap: 1em;
  justify-content: center;
  z-index: 2;
}

.nav__link {
  font-size: var(--fs-900);
  color: var(--neutral-100);
  font-family: var(--ff-hero);
  letter-spacing: 1px;
  z-index: 2;
}

.nav__link--active {
  text-decoration: underline;
}

.nav__link:hover {
  color: var(--neutral-200);
  text-decoration: underline;
}

@media screen and (min-width: 646px) {
  .nav__list {
    justify-content: flex-end;
  }
}