.work {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-direction: column-reverse;
  margin-block: 2rem;
  z-index: 2;
}

.work * {
  z-index: 2;
}

.work__img {
  width: 70vw;
}

.work__role {
  font-size: var(--fs-700);
}

.work__links {
  display: flex;
  gap: 1.5rem;
}

.work__role__title {
  font-weight: var(--fw-700);
}

@media screen and (min-width: 646px) {
  .work {
    flex-direction: row;
  }

  .work--reverse {
    flex-direction: row-reverse;
  }

  .work__img {
    min-width: 350px;
    max-width: 500px;
    width: auto;
  }
}